
<header id="navbar-container">
    <div id="title-box">
        <h1><a href="/">THE MINI BLOG</a></h1>  
    </div>
    <div id="login-box">
        {{#if userData.logged_in}}
        <h2><a href="/profile" id="profile-btn">PROFILE</a></h2>
        <h2><a id="logout-btn">LOGOUT</a></h2>
        <script src="/js/logout.js"></script>
        {{else}}
        <p id="want-to-contribute">Want to contribute??</p>
        <h2><a href="/login" >LOGIN HERE</a></h2>
        {{/if}}
    </div>
</header>