<header id="navbar-container">
    <div id="title-box">
        <h1>THE MINI BLOG</h1>  
    </div>
    <div id="login-box">
        <p>Want to contribute??</p>
        <div>LOGIN HERE!</div>
    </div>
</header>