<div class="post-box">
    <div class="post-content">
        <h4>{{subject}}</h4>
        <p>{{content}}</p>
        <button class="delete-btn" id="post-{{id}}">Delete</button>
    </div>
    <link rel="stylesheet" href="./css/postBox.css">
</div>