<main>
    <div id="post-container">
    {{#each postData as |postbox|}} 
    {{> postBox}} 
    {{/each}}
    </div>
    <aside>
    {{#if userData.logged_in}}
        <h2>Welcome {{userData.username}}</h2>
        <h2>Write a post here!</h2>
    {{else}}
        <p>You must be logged in to contribute.</p>
    {{/if}}
    </aside>
</main>