<main>
    <input id="username-field">username</input>
    <input id="password-field">password</input>
    <button id="login-btn" type="submit">Click to login</button>
    <h3 id="alert-text">Please enter your username and password!</h3>
    
<script src="./js/login.js"></script>
</main>