
<main>
  <input id="register-username-field" type="text" placeholder="Enter your username">
  <input id="register-password-field" type="password" placeholder="Enter your password">
  <button id="register-btn" type="submit">Sign Up</button>
  <h3 id="register-alert-text">Please enter your username and password!</h3>
  <h4><a href="/login">Already have an account? Click here to login!</a></h4>
  <script src="./js/register.js"></script>
</main>